header {

	background-color: rgba(237, 184, 69, 0.46);
	text-align: center;
	border-top: 2px;
	border-bottom: 20px;
	height: 300px;
	font-family: Garamond, "Times New Roman", serif;
	background-size: 



}

